<?xml version="1.0" encoding="UTF-8"?>
<configuration>
  <system.webServer>
    <!-- URL Rewrite Configuration -->
    <rewrite>
      <rules>
        <rule name="CleanURL" stopProcessing="true">
          <match url="^(.*)$" ignoreCase="false" />
          <conditions>
            <add input="{REQUEST_FILENAME}" matchType="IsFile" ignoreCase="false" negate="true" />
            <add input="{REQUEST_FILENAME}" matchType="IsDirectory" ignoreCase="false" negate="true" />
            <add input="{URL}" pattern="^/favicon.ico$" ignoreCase="false" negate="true" />
          </conditions>
          <action type="Rewrite" url="index.html" logRewrittenUrl="true" />
        </rule>
      </rules>
    </rewrite>

    <!-- Static Content Compression -->
    <httpCompression>
      <staticTypes>
        <add mimeType="text/html" enabled="true" />
        <add mimeType="text/plain" enabled="true" />
        <add mimeType="text/xml" enabled="true" />
        <add mimeType="text/css" enabled="true" />
        <add mimeType="text/javascript" enabled="true" />
        <add mimeType="application/javascript" enabled="true" />
        <add mimeType="application/json" enabled="true" />
      </staticTypes>
    </httpCompression>

    <!-- Caching Rules -->
    <staticContent>
      <clientCache cacheControlMode="UseMaxAge" cacheControlMaxAgeInSeconds="31536000">
        <fileExtension extension=".js" policy="CacheUntilChange" />
        <fileExtension extension=".css" policy="CacheUntilChange" />
        <fileExtension extension=".jpg" policy="CacheUntilChange" />
        <fileExtension extension=".jpeg" policy="CacheUntilChange" />
        <fileExtension extension=".png" policy="CacheUntilChange" />
        <fileExtension extension=".gif" policy="CacheUntilChange" />
        <fileExtension extension=".webp" policy="CacheUntilChange" />
        <fileExtension extension=".svg" policy="CacheUntilChange" />
        <fileExtension extension=".woff" policy="CacheUntilChange" />
        <fileExtension extension=".woff2" policy="CacheUntilChange" />
      </clientCache>
    </staticContent>

    <!-- Security Headers -->
    <httpProtocol>
      <customHeaders>
        <add name="X-UA-Compatible" value="IE=edge" />
        <add name="X-Content-Type-Options" value="nosniff" />
        <add name="X-Frame-Options" value="SAMEORIGIN" />
        <add name="X-XSS-Protection" value="1; mode=block" />
        <add name="Referrer-Policy" value="strict-origin-when-cross-origin" />
      </customHeaders>
    </httpProtocol>

    <!-- MIME Types -->
    <staticContent>
      <mimeMap fileExtension=".webp" mimeType="image/webp" />
      <mimeMap fileExtension=".woff" mimeType="application/font-woff" />
      <mimeMap fileExtension=".woff2" mimeType="application/font-woff2" />
      <mimeMap fileExtension=".ttf" mimeType="application/x-font-ttf" />
    </staticContent>
  </system.webServer>
</configuration>
